<br>
<h1>Add a Wine Brand:</h1>
<br>
<%= form_for(@wine_brand) do |f| %>
<%= f.label "Company: " %>
<%= f.text_field :company %>
<%= f.label "Name: " %>
<%= f.text_field :name %>
<%= f.submit 'Create Wine Brand' %>
<% end %>
