
<br>
<br>
<br>
Welcome to <%=@user.name%>'s page.<br>
<i><%= "#{@user.name.capitalize} is #{@user.mood}"%></i>

<br>
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

<br>
<h1>Posts</h1>
<% @user.all_posts.each do |post| %>
  <h2><%=link_to post.title, post_path(post) %><br></h2>
    <em><%=post.pairing.wine.wine_brand.company + " " +  post.pairing.wine.category.name + " + " + post.pairing.cheese.cheese_brand.name + " " +  post.pairing.cheese.name%></em><br>
    <%=post.content%><br>
  <br>

  ___________________________________________________
  <br>
<%end%>


<h1>Wine Cellar</h1>
<% @user.wine_list.each do |wine| %>
  -<%= wine %>
<% end %>

<br>

___________________________________________________

<br>

<h1>Cheese Platter</h1>
  <% @user.cheese_platter.each do |cheese| %>
  -<%= cheese %>
<% end %>
<br>

___________________________________________________

<br>

<h1>Last Pairing</h1>

<%=@user.recent_update %>
<%= link_to @user.poster.posts.last.title, post_path(@user.poster.posts.last) %>


<br>
