
<br>
<br>
<br>
Hello, <%=@user.name%>!<br>
<i><%= "#{@user.name.capitalize} is #{@user.mood}"%></i>


<br>
<br>
<h1>Posts</h1>
<% @user.all_posts.each do |post| %>
  <h2><%=post.title%><br></h2>
  <%=post.content%><br>
  <%=post.pairing.wine.wine_brand.company + " " +  post.pairing.wine.category.name + " + " + post.pairing.cheese.cheese_brand.name + " " +  post.pairing.cheese.name%><br>
  <br>

  ___________________________________________________
  <br>
<%end%>


<h2>Wine Cellar 1</h2>
<% @user.wine_list.each do |wine| %>
<%= wine %>
<% end %>


<h2>Cheese Platter</h2>
  <% @user.cheese_platter.each do |cheese| %>
  <%= cheese %>
<% end %>

<h2>Last Pairing</h2>

<%=@user.recent_update %>


<h2>Socials</h2>
Join me!
