
<br>
<br>
<br>
<h3>Welcome to <%=@user.name%>'s page.</h3><br>
<i><%= "#{@user.name.capitalize} is #{@user.mood}"%></i>

<br>


<br><% if flash[:notice] %>

<br>
   <div class="notice"><%= flash[:notice] %></div>
<br>
___________________________________________________
 <% end %>
 <br>


<br>
<h1><%= @user.name %>'s Posts:</h1>

<% @user.all_posts.each do |post| %>
  <div class="postbg"><u><h2><%=link_to post.title, post_path(post) %><br></h2></u>
    <em><%=post.pairing.wine.wine_brand.company + " " +  post.pairing.wine.category.name + " + " + post.pairing.cheese.cheese_brand.name + " " +  post.pairing.cheese.name%></em><br>
    <div class="postcontent"><%=post.content%><br><br><br></div></div>
  <br>
  ~
  <br>
  <br>
<%end%>


___________________________________________________

<h1>Wine Cellar</h1>
<% @user.wine_list.each do |wine| %>
  · <%= wine %>
  <br>
<% end %>

<br>

___________________________________________________

<br>

<h1>Cheese Platter</h1>
  <% @user.cheese_platter.each do |cheese| %>
  -<%= cheese %>
<% end %>
<br>

___________________________________________________

<br>

<h1>Last Pairing</h1>

<div class="postcontent">
  <% if @user.all_posts.count == 0 %>
    <%=@user.name%> doesn't know anything about wine yet.
  <% else %>
    <%= @user.recent_update %>
    <u><%= link_to @user.poster.posts.last.title, post_path(@user.poster.posts.last) %></u>
  <% end %>
</div>

<br>
<br>
<br>
<br>
<br>
