<h1>Make a pairing! (If you can...)</h1>

<%= form_for(@post) do |f| %>
<%= f.label :title %><br>
<%= f.text_field :title %><br>
<%= f.label :content %><br>
<%= f.text_area :content %><br>
<%= f.label "Select a Pairing" %><br>

<%=f.collection_select :pairing_id, Pairing.all, :id, :pairing_with_wine_cheese_names %>
<%= f.submit 'Create Post' %>
<% end %>

<%= link_to "Don't See Your Pairing Here? Create A New One", new_pairing_path %>
