<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <title>WineCheese</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>

         body {
           background-image: url(http://i66.tinypic.com/2z7r5n4.gif);
           color: #3C3A66 ;
           font-family: 'Raleway';
           text-align: center;
         }

         #navbar {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
        }

        a {
          text-decoration: none;
        }

        .navbaritem {
          float: center;
          margin-right: 20px;
          border: solid;
          border-width: 2.5px;
          border-color: black;
          background-color: #F2FFE5;
          border-radius: 10px;
          padding: 10px 27px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
        }

        img {
          height: 25%;
          width: 25%;
        }

        body:background-image {
          opacity: 0.2;
        }

        .signup {
          background-color: #F2FFE5; /* Green */
          border: solid;
          border-width: 2.5px;
          border-color: black;
          border-radius: 10px;
          color: white;
          padding: 10px 27px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
        }

        .left {
          float: left;
          margin-left: 2%;
          display: inline-block;
        }

        .middle {
          float: middle;
          display: inline-block;
        }

        .right {
          float: right;
          margin-right: 2%;
          display: inline-block;
        }

        .postcontent {
          margin-right: 20%;
          margin-left: 20%;
        }

        .postbg {
          border: solid;
          border-width: 2px;
          border-radius: 5px;
          margin-right: 20%;
          margin-left: 20%;
          background-color: white;
        }

        a {
          color: #134213;
        }

        a:visited {
          color: #134213;
        }



       </style>
  </head>

  <body>

    <% if logged_in? %>
    <ul id='navbar'>
      <li class="navbaritem"><a href="/users/1/edit">Edit Profile</a></li>
      <li class="navbaritem"><a href="/posts/new">Create A Post</a></li>
      <li class="navbaritem"><a href="/users/<%=session[:user_id]%>">View Profile</a></li>
      <li class="navbaritem"><%= link_to "Analytics", posts_path %></li>
      <li class="navbaritem"><%= link_to "Log out", logout_path %></li>
    </ul>
    <%else %>
    <br><br>
    <img src="http://i67.tinypic.com/jz6t0y.gif">

    <br>

    <% end %>

    <%= yield %>
  </body>
</html>
