<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <title>WineCheese</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>

         body {
           background-color: #FCEFEA;
           color: #3C3A66 ;
           font-family: 'Raleway';
           text-align: center;
         }

         #navbar {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
        }

        a {
          text-decoration: none;
        }

        .navbaritem {
          float: left;
          margin-right: 20px;

          background-color: #E5E5E5; /* Green */
          border: solid;
          border-width: 0.25px;
          border-color: #30447E;
          border-radius: 10px;
          color: white;
          padding: 10px 27px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
        }


       </style>
  </head>

  <body>

    <% if logged_in? %>
    <ul id='navbar'>
      <li class="navbaritem"><a href="/users/1/edit">Edit Profile</a></li>
      <li class="navbaritem"><a href="/posts/new">Create A Post</a></li>
      <li class="navbaritem"><a href="/users/<%=session[:user_id]%>">View Profile</a></li>
      <li class="navbaritem"><%= link_to "Analytics", posts_path %></li>
      <li class="navbaritem"><%= link_to "Log out", logout_path %></li>
    </ul>

    <% end %>
    <br>
    <img src="http://i66.tinypic.com/24vnszp.png">
    <br>
    <%= yield %>
  </body>
</html>
